.mobile-block {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
    z-index: 100;
    display: none;
}

.mobile-block-content {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.mobile-block-content-1 img {
    height: 6rem;
}

.mobile-block-content-2 {
    margin-top: 3rem;
}

.mobile-block-content-2-content {
    font-family: 'Gotham Pro Regular', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    width: 70%;
}

@media screen and (orientation: portrait) {
    .mobile-block {
        display: block;
    }
}